.hollow-btn {
  width: 100%;
  max-width: max-content;
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.6rem;
  font-weight: 700;
  color: $primary;

  padding: 2rem 4rem;

  background-color: transparent;
  border: 1px solid $primary;

  transition: all 0.2s ease;

  svg {
    margin-left: 0.6rem;
  }

  &:hover {
    color: white;

    background-color: $primary;
    border-color: $primary;

    svg {
      fill: white;
      margin-left: 1.6rem;
    }
  }
}
