<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="#">
                <!-- <img src="assets/images/logo-icon.png" alt=""> -->
                <p>ЛОГО</p>
            </a>
            <div class="header-content">
                <nav class="menu">
                    <ul class="menu__nav-list">
                        <li class="nav-list__item">
                            <a href="#" class="nav-list__item-link">О компании</a>
                        </li>
                        <li class="nav-list__item">
                            <a href="#" class="nav-list__item-link">Услуги</a>
                        </li>
                        <li class="nav-list__item">
                            <a href="#" class="nav-list__item-link">Проекты</a>
                        </li>
                        <li class="nav-list__item">
                            <a href="#" class="nav-list__item-link">Партнеры</a>
                        </li>
                    </ul>
                </nav>
                <button class="header__order-link hollow-btn" data-modal="modal-order">Заказать звонок</button>
            </div>

            <div class="burger-menu">
                <div class="burger"></div>
            </div>
        </div>
    </div>
</header>